P5/Connected Services/WeatherService/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar17.fulton.asu.edu/Page3/Service3.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getCatPic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeItTalk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatPicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCatPicResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatFact">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCatFactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mathOperations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mathStuff1" type="xs:double" />
        <xs:element minOccurs="0" name="mathStuff2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mathOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mathOperationsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Weather5day">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Weather5dayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Weather5dayResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nameAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nameAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameAgeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>