P5/Connected Services/WeatherService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page3/Service3.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page3/Service3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page3/Service3.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService3_getCatPic_InputMessage">
    <wsdl:part name="parameters" element="tns:getCatPic" />
  </wsdl:message>
  <wsdl:message name="IService3_getCatPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatPicResponse" />
  </wsdl:message>
  <wsdl:message name="IService3_getCatFact_InputMessage">
    <wsdl:part name="parameters" element="tns:getCatFact" />
  </wsdl:message>
  <wsdl:message name="IService3_getCatFact_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatFactResponse" />
  </wsdl:message>
  <wsdl:message name="IService3_mathOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:mathOperations" />
  </wsdl:message>
  <wsdl:message name="IService3_mathOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:mathOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService3_WordCount_InputMessage">
    <wsdl:part name="parameters" element="tns:WordCount" />
  </wsdl:message>
  <wsdl:message name="IService3_WordCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService3_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService3_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService3_nameAge_InputMessage">
    <wsdl:part name="parameters" element="tns:nameAge" />
  </wsdl:message>
  <wsdl:message name="IService3_nameAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:nameAgeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService3">
    <wsdl:operation name="getCatPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/getCatPic" message="tns:IService3_getCatPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/getCatPicResponse" message="tns:IService3_getCatPic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCatFact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/getCatFact" message="tns:IService3_getCatFact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/getCatFactResponse" message="tns:IService3_getCatFact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mathOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/mathOperations" message="tns:IService3_mathOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/mathOperationsResponse" message="tns:IService3_mathOperations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/WordCount" message="tns:IService3_WordCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/WordCountResponse" message="tns:IService3_WordCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/Weather5day" message="tns:IService3_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/Weather5dayResponse" message="tns:IService3_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nameAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IService3/nameAge" message="tns:IService3_nameAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService3/nameAgeResponse" message="tns:IService3_nameAge_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService3" type="tns:IService3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCatPic">
      <soap:operation soapAction="http://tempuri.org/IService3/getCatPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatFact">
      <soap:operation soapAction="http://tempuri.org/IService3/getCatFact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mathOperations">
      <soap:operation soapAction="http://tempuri.org/IService3/mathOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordCount">
      <soap:operation soapAction="http://tempuri.org/IService3/WordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService3/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nameAge">
      <soap:operation soapAction="http://tempuri.org/IService3/nameAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService3" binding="tns:BasicHttpBinding_IService3">
      <soap:address location="http://webstrar17.fulton.asu.edu/Page3/Service3.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>